# Virtual environment
/env/
/venv/
/.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# Project-specific
/imgs/
*.jpg
*.jpeg
*.png
detected_objects.json
.env

